// Article / blog styles

.article {
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: var(--m);
  }

  &__header {
    padding-bottom: var(--l);
  }

  &__title {
    font-family: var(--headers-inter-l-font-family);
    font-size: var(--headers-inter-l-font-size);
    font-weight: var(--headers-inter-l-font-weight);
    line-height: var(--headers-inter-l-line-height);
    letter-spacing: var(--headers-inter-l-letter-spacing);
    margin-top: 0;
  }

  &__subtitle {
    font-family: var(--body-s-font-family);
    font-size: var(--font-size-s);
    padding-bottom: 0;
  }

  &__teaser {
    padding-bottom: var(--l);
  }

  &__date {
    font-family: var(--body-xs-font-family);
    font-size: var(--body-xs-font-size);
    font-weight: var(--body-xs-font-weight);
    line-height: var(--body-xs-line-height);
    color: var(--color-gray-600);
    padding-bottom: var(--l);
  }
}

.darc-mode .article__date {
  color: var(--color-gray-400);
}
