{% extends "base.html" %}
{% import "macros/content.html" as content_macros %}

{% block title %}<title>{{ page.title }} | Blog | {{ config.title }}</title>{% endblock %}
{% block breadcrumb_block %}{% set_global breadcrumb = "Blog" %}{% endblock %}

{% block content %}
{% set data = load_data(path=page.colocated_path ~ "data.json") %}

{% if data.articleImage and data.articleImage.backgroundImage %}
  <section class="media-screen">
    <img src="{{ data.articleImage.backgroundImage }}" alt="" class="media-screen__img">
  </section>
{% endif %}

<section class="screen screen--pad-md screen--max-md">
  <div class="screen__inner">
    {% if data.tags %}
      <div class="article__tags">
        {% for tag in data.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}

    <div class="article__header">
      <h1 class="article__title">{{ data.title }}</h1>
      {% if data.subtitle %}
        <p class="article__subtitle body-s">{{ data.subtitle }}</p>
      {% endif %}
    </div>

    {% if data.teaser %}
      <p class="article__teaser typography--body-lg" style="font-weight: 700;">{{ data.teaser }}</p>
    {% endif %}

    <p class="article__date">
      Published at {{ data.published_at | default(value="") }}
    </p>

    {% if data.content %}
      {% for block in data.content %}
        {{ content_macros::render_content(block=block) }}
      {% endfor %}
    {% endif %}
  </div>
</section>
{% endblock %}
