{% extends "base.html" %}
{% import "macros/content.html" as content_macros %}

{% block title %}<title>Blog | {{ config.title }}</title>{% endblock %}

{% block content %}
{% set articles = load_data(path="data/blog_articles.json") %}
<section class="screen screen--pad-lg screen--max-lg">
  <div class="screen__inner">
    {% for article in articles %}
      <div class="hero hero--mb-md">
        {% if article.heroImage and article.heroImage.src %}
          <div class="hero__media-col hero__media-col--left">
            <div class="hero__media">
              <div class="hero__media-inner {% if article.heroImage.shadow %}hero__media-inner--bordered{% endif %}"
                   {% if article.heroImage.ratio %}style="aspect-ratio: {{ article.heroImage.ratio }}"{% endif %}>
                <img src="{{ article.heroImage.src }}" alt="" class="hero__media-img">
              </div>
            </div>
          </div>
        {% endif %}
        <div class="hero__content-col hero__content-col--right">
          <div class="hero__header">
            <p class="hero__tagline">{{ article.published_at | default(value="") }}</p>
            <h2 class="hero__title--h2">{{ article.titleShort | default(value=article.title) }}</h2>
          </div>
          {% if article.teaserShort or article.teaser %}
            <span class="hero__teaser">{{ article.teaserShort | default(value=article.teaser) }}</span>
          {% endif %}
          <div class="hero__actions">
            <a href="{{ article.url }}" class="btn">Read</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
